.weather-tab.current-tab {
    /* background-color: rgb(251, 251, 251); */
    border-radius: 5px;
    padding: 4px;
    border: 1px solid white;


}

.search-tab.current-tab {
    /* background-color: rgb(251, 251, 251); */
    border-radius: 6px;
    padding: 4px;
    border: 1px solid white;

}















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex.class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 5px;
    display: none;
}
.weather-card.display{
    display: flex;
}

.weather-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
    backdrop-filter: blur(20px);
    background-color: rgba(7, 145, 16, 0.229);
    height: 100px;
    width: 100px;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10rem;
}

.weather span {
    background-color: rgba(7, 145, 16, 0.229);
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* gap: 6rem; */
    max-width: 340px;
    cursor: pointer;
    width: 100%;
    height: 35px;
}

.wrrap {
    height: 85vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgba(255, 253, 253, 0.205);
    backdrop-filter: blur(3px);
    background-color: rgba(251, 251, 251, 0.11);
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allow-location {
    /* position: absolute; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: none;
}
.allow-location.display{
    display: flex;
}

.allow-btn {
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: rgb(90, 170, 90);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loading-containr img{
width: 100px;
height: 100px;
}
.loading-containr{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
display: none;
}
.loading-containr.display{
    display: flex;
}
.search-weather{
    display: none;

}
.search-weather.display{
    display: flex;
}
.weather-card{
    display: none;
}
.weather-card.display{
    display: flex;
}
.weather-tab{
    scale: 0;
}
.weather-card.display{
scale: 1;
}
#inputCity{
    width: 250px;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin-right: 2px;
    padding-left:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.search-btn{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.weather-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.city-box{
    display: flex;
    gap: 5px;
}
.city-box img{
    width: 30px;
}
.city-box p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.temp-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.temp-box img{
    width: 100px;
}
.temp-box p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.temp-box h1{
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}